

body {
    font-family: "Times New Roman", sans-serif;
    background-color: rgb(107, 184, 214);
    font-size: 24px;
    text-align: center;
    list-style-position: inside;
}

li {
    color: rgb(138, 5, 138);
 }

.color-recipe {
    color: rgb(123, 6, 96);
    font-weight: bold;
 }

#link-color {
   color: green;
   font-weight: bold;
}

