@font-face {
    font-family: HyliaSerif;
    src: url(../fonts/Hylia.otf);
}

.heading {
    font-family: HyliaSerif;
    font-weight: 10;
    text-decoration: underline;
}

#background {
    background-color: rgb(78, 184, 78);
}

.text {
    color: rgb(0, 0, 0);
    font-size: 20px;
}